@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root
{
    --cor-borda: #dbdbdb;
    --cor-botao: #690000;
    --cor-branca: #ffffff;
    --cor-principal: #db0006;
    --cor-principal-hover: #db0007bd;
    --linear-gradient: linear-gradient(to right, #940005, #b40006, #940005);
}

*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header
{
    box-shadow: 0px 4px 5px 3px #6e6e6e42;  
    color: var(--cor-branca);
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu, .busca
{
    display: flex;
    align-items: center;
}

.menu img
{
    cursor: pointer;
    margin-right: 30px;
}

.menu a
{
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    color: var(--cor-principal);
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
    outline: none;
    text-decoration: none;
    transition: 0.2s;
}

.menu a:hover
{
    background-color: var(--cor-principal);
    color: #ffffff;
    transition: 0.2s;
}

.menu a:focus
{
    background-color: var(--cor-principal);
    color: #ffffff;
    transition: 0.2s;
}

.busca input
{
    background-color: #f2f2f2;
    border: transparent;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    width: 500px;
}

.busca i
{
    color: var(--cor-principal);
    cursor: pointer;
    margin-left: 10px;
}

/* INÍCIO DO CONTEÚDO */
main
{
    gap: 20px;
    padding: 20px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1
{
    text-align: center;
}

.conteudo-formulario
{
    box-shadow: 0px 4px 5px 3px #00000042;
    width: 100%;
}

.formulario
{
    background: var(--linear-gradient);
    border-radius: 5px;
    padding: 15px;

    display: flex;
    justify-content: space-around;
}

form
{
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

label
{
    color: white;
    font-size: 15px;
    font-weight: 500;
}

#input-form
{
    border: 3px solid transparent;
    border-radius: 5px;
    cursor: text;
    margin-bottom: 5px;
    padding: 5px;
    transition: 0.2s;
    width: 100%;
}

#input-form:focus
{
    border: 3px solid var(--cor-botao);
    outline: none;
    transition: 0.2s;
}

#botao
{
    background: var(--cor-botao);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    outline: none;
    padding: 5px;
    transition: 0.2s;
}

#botao:hover
{
    transform: scale(1.02);
    transition: 0.2s;
}

#botao:focus
{
    transform: scale(1.02);
    transition: 0.2s;
}
/* FIM DO CONTEÚDO */

footer {
    box-shadow: 0px -4px 5px 3px #6e6e6e42;
    padding: 15px;
    text-align: center;
}

footer hr
{
    margin-bottom: 10px;
    margin-top: 10px;
}

.rodape-menu
{
    cursor: default;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape-menu-site a
{
    color: var(--cor-principal);
    font-weight: 600;
    margin-right: 20px;
    outline: none;
    text-decoration: none;
}

.rodape-menu-site a:hover
{
    text-decoration: underline;
}

.rodape-menu-site a:focus
{
    text-decoration: underline;
}

.rodape-menu-social a
{
    color: var(--cor-principal);
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    outline: none;
    transition: 0.2s;
}

.rodape-menu-social a:hover
{
    color: var(--cor-principal-hover);
    transition: 0.2s;
}

.rodape-menu-social a:focus
{
    color: var(--cor-principal-hover);
    transition: 0.2s;
}